.cart-icon {
  margin-top: 1rem;
  cursor: pointer;
}

.icon {
  transform: scale(1.5);
  color: #000;
}

mat-card {
  background-color: #3f51b5;
  color: #fff;
  position: absolute;
  top: 6.4rem;
  right: 0;
  width: 30rem;
}

.line {
  border-top: 0.1rem solid #fff;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  display: block;
  margin: 0 auto !important;
}

.green-color {
  background-color: #00b300;
}

/* img {
  display: block;
}

.cart-image {
  cursor: pointer;
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -0.3rem;
  right: -0.3rem;
  width: 1.9rem;
  height: 1.9rem;
  background-color: red;
  border-radius: 50%;
  font-size: 1.4rem;
  color: #fff;
}

.cart-details {
  position: absolute;
  top: 6.4rem;
  right: 0;
  background-color: #3f51b5;
  width: 18rem;
  padding: 1rem;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 0 0 1rem 1rem;
}

.cart-details p {
  padding-top: 1rem;
  font-size: 1.3rem;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem;
}

.line {
  border-top: 0.1rem solid red;
}

button {
  display: block;
  margin: 1rem auto 0 auto;
  border: none;
  outline: none;
  padding: 1rem 2rem;
  background-color: #00b300;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #00ff00;
} */
