<mat-card [ngClass]="currentClasses">
  <picture>
    <img [src]="trip.images[0]" alt="countryimage">
  </picture>
  <mat-card-header>
    <mat-card-title>{{trip.name | uppercase}}</mat-card-title>
    <mat-card-subtitle>{{trip.country | uppercase}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-divider></mat-divider>
    <mat-list>
      <mat-list-item>
        Ratings {{trip.numberOfRatings !== 0 ? (trip.rating / trip.numberOfRatings).toFixed(2) : 0}}
        ({{trip.numberOfRatings}})
        <span class="item stars"><app-rating class="rating-stars" [trip]="trip"></app-rating></span>
      </mat-list-item>
      <mat-list-item role="listitem">
        {{trip.startDate | date}} - {{trip.endDate | date}}
      </mat-list-item>
      <mat-list-item role="listitem">
        Unit price: <span class="item">{{trip.unitPrice | transformMoney: moneyType}}</span>
      </mat-list-item>
      <mat-list-item role="listitem">
        <span>{{trip.description}}</span>
      </mat-list-item>
    </mat-list>
  </mat-card-content>

  <mat-card-actions>
    <p *ngIf="trip.availablePlaces - reservationAmount <= 5 && trip.availablePlaces - reservationAmount > 0"
      class="low-amount">Pozostało
      {{trip.availablePlaces - reservationAmount}} wycieczek
    </p>
    <p *ngIf="trip.availablePlaces - reservationAmount == 0" class="low-amount">Brak Miejsc!</p>
    <div *ngIf="authService.userData && authService.userData.role === 'client'" class="reservations">
      <div class="reservation-button">
        <button [ngStyle]="{'visibility': reservationAmount == 0 ? 'hidden' : 'visible'}" (click)="removeReservation()"
          mat-mini-fab color="warn">
          <mat-icon>remove</mat-icon>
        </button>
      </div>
      <p>{{reservationAmount}}</p>
      <div class="reservation-button">
        <button [ngStyle]="{'visibility': reservationAmount == trip.availablePlaces ? 'hidden' : 'visible'}"
          (click)="addReservation()" mat-mini-fab color="warn">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>

    <button *ngIf="authService.userData" routerLink="/trip/{{trip.id}}" class="show-details-btn" mat-raised-button
      color="warn">See details</button>

    <div *ngIf="!authService.userData" class="login-to-see">
      <p>Login if you want to see more</p>
    </div>

    <div
      *ngIf="authService.userData && (authService.userData.role === 'manager' || authService.userData.role === 'admin')"
      class="admin-buttons">
      <button (click)="delete()" mat-raised-button color="warn">Remove Trip</button>
      <button routerLink="/edit/{{trip.id}}" mat-raised-button color="warn">Edit Trip</button>
    </div>
  </mat-card-actions>
</mat-card>
