*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

button, input {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

html {
    font-size: 10px;
}

p {
    font-size: 2.2rem;
    margin-bottom: 0.6rem;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
}

.first {
    background-color: steelblue;
}

.second {
    background-color: red;
}

.third {
    background-color: yellow;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

button {
    font-size: 1.7rem;
    padding: 1rem 2rem;
    border: 0.2rem solid black;
}

button:hover {
    color: #444;
}