form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 40%;
  min-width: 34rem;
  margin: 4rem auto 0 auto;
}

label {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

input {
  background-color: transparent;
  outline: none;
  border: 0.1rem solid black;
  padding: 1rem 2rem;
  font-size: 1.4rem;
}

.files p {
  padding: 0.5rem;
  font-size: 1.4rem;
}

button {
  align-self: center;
  text-transform: uppercase;
  font-size: 1.6rem;
  padding: 1rem 3rem;
  background-color: transparent;
  outline: none;
  border: 0.1rem solid #5dbb63;
  cursor: pointer;
  margin-bottom: 2rem;
}

button:hover {
  background-color: #5dbb63;
}

button:disabled {
  background-color: #eee;
  border-color: #eee;
}

.error {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #da1414;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.h-100 {
  min-height: calc(100vh - 6rem);
}
