<div class="container">
  <div class="home">
    <div class="home-card">
      <h2>Go somewhere new</h2>
      <h1>Satisfy Your Wanderlust Self</h1>
    </div>
    <div class="home-continue">
      <button routerLink="/trips">See our offer</button>
    </div>
  </div>
  <div class="contact">
    <div class="contact-container">
      <h3 class="contact-description">Contact Us</h3>
      <div class="contact-info">
        <div>
          <h4>Address</h4>
          <p>Fake address</p>
        </div>
        <div>
          <h4>Phone</h4>
          <p>536 498 561</p>
        </div>
        <div>
          <h4>Email</h4>
          <p>tripsappemail@email.com</p>
        </div>
      </div>
      <div class="contact-map">
        <iframe id="map"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2560.974255577953!2d19.9104095157176!3d50.06804377942448!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165ba4e83edb79%3A0x12ec23c8f9c73c78!2sCentrum%20Informatyki%2C%20AGH%2C%20D-17!5e0!3m2!1sen!2spl!4v1669818019120!5m2!1sen!2spl"
          width="340" height="340" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</div>
