<div class="container">
  <div class="home">
    <div class="home-card">
      <h2>Go somewhere new</h2>
      <h1>Satisfy Your Wanderlust Self</h1>
    </div>
    <div class="home-continue">
      <button routerLink="/trips">See our offer</button>
    </div>
  </div>
  <div class="contact">
    <div class="contact-container">
      <h3 class="contact-description">Contact Us</h3>
      <div class="contact-info">
        <div>
          <h4>Address</h4>
          <p>Fake address</p>
        </div>
        <div>
          <h4>Phone</h4>
          <p>536 498 561</p>
        </div>
        <div>
          <h4>Email</h4>
          <p>tripsappemail@email.com</p>
        </div>
      </div>
      <div class="contact-map">
        <app-map></app-map>
      </div>
    </div>
  </div>
</div>
