.card {
    display: flex;
    flex-direction: column;
    max-width: 34rem;
    height: 100%;
    gap: 1rem;
    padding: 2rem;
    border-radius: 0.3rem;
    -webkit-box-shadow: 0px 0px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 24px 0px rgba(66, 68, 90, 1);
    overflow: hidden;
}

.card.min {
    -webkit-box-shadow: 0px 0px 24px 0px rgba(55, 190, 42, 1);
    -moz-box-shadow: 0px 0px 24px 0px rgba(55, 190, 42, 1);
    box-shadow: 0px 0px 24px 0px rgba(55, 190, 42, 1);
}

.card.max {
    -webkit-box-shadow: 0px 0px 24px 0px rgba(202, 46, 46, 1);
    -moz-box-shadow: 0px 0px 24px 0px rgba(202, 46, 46, 1);
    box-shadow: 0px 0px 24px 0px rgba(202, 46, 46, 1);
}

picture, img {
    align-self: center;
    max-width: 25rem;
    height: 25rem;
    display: block;
    border-radius: 50%;
}

h2 {
    font-size: 1.8rem;
}

p {
    font-size: 1.4rem;
}

.info-country {
    margin-top: 2rem;
}

.info-date {
    margin-top: 0.5rem;
}

.info-price {
    margin: 0.5rem 0;
}

.info-description {
    margin-bottom: 0.5rem;
}

.trip-rating {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}

.trip-rating span {
    margin-right: auto;
}

.card-reservation {
    margin-top: auto;
    padding-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border-top: 0.1rem solid #444;
}

.reservation-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: transparent;
    border: 0.2rem solid #444;
    cursor: pointer;
}

.reservation-button, .reservation-number {
    font-size: 2rem;
}

.delete-card {
    align-self: center;
    background-color: #d0312d;
    margin-top: 0.5rem;
    padding: 1rem 3rem;
    border-radius: 0.5rem;
    color: #fff;
    cursor: pointer;
}

.delete-card:hover {
    background-color: #a0000a;
}