<div [ngClass]="currentClasses" class="card">
  <picture>
    <img [src]="trip.imageUrl" alt="country-image">
  </picture>
  <div class="card-info">
    <h2 class="info-name">{{trip.name | uppercase}}</h2>
    <p class="info-country">{{trip.country | uppercase}}</p>
    <p class="info-date"><span>{{trip.startDate | date}}</span> - <span>{{trip.endDate | date}}</span></p>
    <p class="info-price">Cena: {{trip.unitPrice | transformMoney: moneyType}}</p>
    <div class="trip-rating">
      <span>Ocena wycieczki: </span>
      <app-rating [trip]="trip"></app-rating>
    </div>
    <p class="info-description">{{trip.description}}</p>
  </div>
  <div class="card-reservation">
    <button [ngStyle]="{'visibility': reservationAmount == trip.availablePlaces ? 'hidden' : 'visible'}"
      (click)="removeReservation()" class="reservation-button">-</button>
    <div class="reservation-number">{{reservationAmount}}</div>
    <button [ngStyle]="{'visibility': reservationAmount == 0 ? 'hidden' : 'visible'}" (click)="addReservation()"
      class="reservation-button">+</button>
  </div>
  <button (click)="delete()" class="delete-card">Remove Trip</button>
</div>
