<form [formGroup]="form" class="filters">
  <ng-multiselect-dropdown class="country-input" formControlName="country" [placeholder]="'Trip country'"
    [settings]="settings" [data]="dropdownData">
  </ng-multiselect-dropdown>
  <label class="price-input" for="price">
    <span>Unit price: </span>
    <ngx-slider formControlName="price" [value]="minPrice | transformMoney: moneyType : false"
      [highValue]="maxPrice | transformMoney: moneyType : false" [options]="options"></ngx-slider>
  </label>

  <mat-form-field appearance="outline">
    <mat-label>Start date</mat-label>
    <input matInput formControlName="startDate" type="date" id="startDate">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>End date</mat-label>
    <input matInput formControlName="endDate" type="date" id="endDate">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Rating</mat-label>
    <mat-select formControlName="rating">
      <mat-option value="">Rating</mat-option>
      <mat-option value="1">1</mat-option>
      <mat-option value="2">2</mat-option>
      <mat-option value="3">3</mat-option>
      <mat-option value="4">4</mat-option>
      <mat-option value="5">5</mat-option>
    </mat-select>
  </mat-form-field>
</form>
