.container {
  overflow: hidden;
  height: calc(100vh - 6rem);
}

.not-found {
  width: 560px;
  height: 225px;
  margin-right: -10px;
}

.starry-sky {
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.notfound-copy {
  color: #fff;
  position: fixed;
  top: 25px;
  right: 10%;
  text-align: right;
}

h1 {
  font-weight: 700;
  font-size: 40px;
}

.all-stars {
  animation: blinkblink 7s linear infinite;
}

@keyframes blinkblink {
  50% {
    opacity: 0.1;
  }
}

input[type=text] {
  color: #fff;
  background-color: #0a1821;
  padding: 5px;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 18px;
}

input[type=text]:focus {
  border-color: none;
  border-bottom: 2px solid #ccc;
}
