form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 40%;
  min-width: 34rem;
  margin: 4rem auto;
}

.form-container {
  width: 400px;
  margin: 0px auto;
}

.form-field {
  display: block;
  margin-top: 1rem;
}

.error {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #da1414;
  text-align: center;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

button {
  display: block;
  margin: 1rem auto;
}

.files p {
  padding: 0.5rem;
}
