<div *ngIf="!error && !isLoading" class="container">
  <div class="filter">
    <ng-multiselect-dropdown [(ngModel)]="statusFilters" class="dropdown" [placeholder]="'Trip Status'"
      [settings]="settings" [data]="dropdownData">
    </ng-multiselect-dropdown>
  </div>
  <div class="trips-container">
    <ng-container *ngFor="let purchase of purchases | purchaseStatusFilter: statusFilters">
      <mat-card>
        <mat-list>
          <mat-list-item role="listitem">{{purchase.name}}</mat-list-item>
          <mat-list-item role="listitem">{{purchase.country}}</mat-list-item>
          <mat-list-item role="listitem">{{purchase.startDate | date}} - {{purchase.endDate | date}}</mat-list-item>
          <mat-list-item role="listitem">Unit price <span>{{purchase.price | transformMoney: moneyType}}</span>
          </mat-list-item>
          <mat-list-item role="listitem">Number of bought tickets <span>{{purchase.quantity}}</span></mat-list-item>
          <mat-list-item role="listitem">Total price {{purchase.price * purchase.quantity | transformMoney: moneyType}}
          </mat-list-item>
          <mat-list-item role="listitem">Date of purchase {{purchase.purchaseDate | date}}</mat-list-item>
          <mat-list-item role="listitem">Status {{purchase.status}}</mat-list-item>
        </mat-list>
      </mat-card>
    </ng-container>
  </div>
</div>
<div *ngIf="isLoading" class="loading-spinner">
  <app-loading-spinner></app-loading-spinner>
</div>
