mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 2;
}

.nav-space {
  width: 100%;
  height: 64px;
}

a,
p {
  text-decoration: none;
  color: white;
  margin: 0;
  cursor: pointer;
}

a:hover,
p:hover,
a:active,
p:active {
  color: lightgray;
}

.navigation-items,
.functional-items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.navigation-items {
  margin-left: 2rem;
  gap: 2rem;
}

.functional-items {
  gap: 2.5rem;
  margin-right: 3rem;
}

.spacer {
  flex: 1 1 auto;
}

mat-nav-list {
  position: fixed;
  top: 64px;
  left: -30rem;
  height: calc(100vh - 64px);
  width: 30rem;
  z-index: 1;
  background-color: #3f51b5;
  transition: left 0.4s;
}

.nav-caption {
  display: inline-block;
  padding-left: 6px;
}

.visible {
  left: 0;
}

.burger {
  display: none;
}

.user-name {
  cursor: default;
}

.user-name:hover {
  color: white;
}

@media (max-width: 720px) {
  .burger {
    display: block;
  }

  .navigation-items {
    display: none;
  }
}

@media (max-width: 599px) {
  .nav-space {
    height: 56px;
  }

  mat-nav-list {
    top: 56px;
  }

  .user-name {
    display: none;
  }
}
