<nav class="navbar">
  <div (click)="toggleVisibility()" class="triangle"></div>
  <a routerLink="/" class="navbar-brand">TripApp</a>
  <ul [ngClass]="isVisible">
    <li routerLink="/trips">
      <a>Trips</a>
    </li>
    <li
      *ngIf="authService.userData && (authService.userData.role === 'admin' || authService.userData.role === 'manager')"
      routerLink="/create">
      <a>Add Trip</a>
    </li>
    <li *ngIf="authService.userData" routerLink="/purchase-history">
      <a>Purchase History</a>
    </li>
    <li *ngIf="!authService.userData" routerLink="/login">
      <a>Login</a>
    </li>
    <li *ngIf="!authService.userData" routerLink="/signup">
      <a>Signup</a>
    </li>
    <li (click)="signOut()" *ngIf=" authService.userData">
      <p>Signout</p>
    </li>
  </ul>
  <div class="notification">
    <app-notification></app-notification>
  </div>
  <div class="cart">
    <app-cart></app-cart>
  </div>
</nav>
