<div *ngIf="!error && !isLoadingTrip && !isLoadingComments && !isLoadingPermissions" class="wrapper">
  <div class="container">
    <div class="trip-info">
      <h2>{{trip.name}}</h2>
      <p class="trip-location">{{trip.country}}</p>
      <div class="trip-rating">
        <p>Ratings {{trip.rating / trip.numberOfRatings || 0}} ({{trip.numberOfRatings}})</p>
        <app-rating class="rating-stars" [trip]="trip"></app-rating>
      </div>
      <div class="trip-description">
        <h3>About</h3>
        <p>{{trip.description}}</p>
      </div>
      <div class="trip-cost">
        <h3>Total Cost</h3>
        <p>{{trip.unitPrice | transformMoney: moneyType}}</p>
      </div>
      <div *ngIf="ratingPermission" class="trip-your-rating">
        <p>Leave your feedback</p>
        <app-rating [trip]="trip" [isUserOpinion]="true"></app-rating>
      </div>
      <div *ngIf="authService.userData.role === 'client'" class="trip-reservation">
        <h3>Book now!</h3>
        <p *ngIf="trip.availablePlaces - reservationAmount <= 5 && trip.availablePlaces - reservationAmount > 0"
          class="low-amount">Pozostało
          {{trip.availablePlaces - reservationAmount}} wycieczek
        </p>
        <p *ngIf="trip.availablePlaces - reservationAmount == 0" class="low-amount">Brak Miejsc!</p>
        <div class="reservation-info">
          <button class="reservation-button" (click)="removeReservation()"
            [ngStyle]="{'visibility': reservationAmount == 0 ? 'hidden' : 'visible'}"><span>-</span></button>
          <span class="reservation-amount">{{reservationAmount}}</span>
          <button class="reservation-button" (click)="addReservation()" [ngStyle]=" {'visibility': reservationAmount==trip.availablePlaces ? 'hidden' : 'visible'
            }"><span>+</span></button>
        </div>
      </div>
    </div>
    <div class="image-slider">
      <ng-image-slider [images]="imageObjects" [infinite]="true" [autoSlide]="imageObjects.length === 1 ?  false : true"
        [slideImage]="1" [showArrow]="imageObjects.length === 1 ?  false : true" [animationSpeed]="1"
        [lazyLoading]="true" [imageSize]="{width: '100%', height: '400px'}"></ng-image-slider>
    </div>
  </div>
  <form *ngIf="commentsPermission" [formGroup]="form" (submit)="onSubmit()" class="form">
    <h2>Write your comment</h2>

    <mat-form-field appearance="outline">
      <mat-label>Nick</mat-label>
      <input matInput formControlName="nickname" id="nickname" type="text" required>
      <mat-error *ngIf="form.controls['nickname'].touched && form.controls['nickname'].invalid">
        <span *ngIf="form.controls['nickname'].errors?.['required']">This field is mandatory.</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Trip name</mat-label>
      <input matInput formControlName="tripname" id="tripname" type="text" required>
      <mat-error *ngIf="form.controls['tripname'].touched && form.controls['tripname'].invalid">
        <span *ngIf="form.controls['tripname'].errors?.['required']">This field is mandatory.</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Comment</mat-label>
      <textarea matInput formControlName="comment" name="comment" class="comment" id="comment"
        placeholder="Write your opinion here..." required></textarea>
      <mat-error *ngIf="form.controls['comment'].touched && form.controls['comment'].invalid">
        <span *ngIf="form.controls['comment'].errors?.['required']">This field is mandatory.</span>
        <span *ngIf="form.controls['comment'].errors?.['minlength']">Minimum number of words is 50.</span>
        <span *ngIf="form.controls['comment'].errors?.['maxlength']">Maximum number of words is 500.</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Date of completion</mat-label>
      <input matInput formControlName="date" id="date" type="date">
    </mat-form-field>

    <button [disabled]="!form.valid || error" mat-raised-button color="primary" type="submit">Add New Comment</button>
  </form>
  <section class="comment-section">
    <ng-container *ngFor="let comment of comments">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{comment.nickname}}</mat-card-title>
          <mat-card-subtitle>{{comment.tripname}}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p>{{comment.date || '' | date}}</p>
          <p>{{comment.comment}}</p>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </section>
</div>
<div *ngIf="isLoadingTrip && isLoadingComments && !error" class="spinner">
  <app-loading-spinner></app-loading-spinner>
</div>
<div *ngIf="!isLoadingTrip && !isLoadingComments && error" class="error">
  <p>{{errorMessage}}</p>
</div>
