<div class="notification">
  <div (click)="switchNotificationsVisibility()" class="notification-icon">
    <mat-icon matBadgeColor="warn" matBadgeSize="small" matBadge="{{notifications.length}}" class="icon">notifications
    </mat-icon>
  </div>

  <mat-list *ngIf="showNotification">
    <mat-list-item>
      <div class="item">
        <p>Name</p>
        <p>Start date</p>
      </div>
    </mat-list-item>
    <ng-container *ngFor="let notification of notifications">
      <mat-divider></mat-divider>
      <mat-list-item>
        <div class="item">
          <p>{{notification.name}}</p>
          <p>{{notification.startDate}}</p>
        </div>
      </mat-list-item>
    </ng-container>
  </mat-list>
</div>
