<div class="cart">
  <div (click)="switchCartDetailsVisibility()" class="cart-image">
    <img src="./../../../assets/cart.svg" alt="cart-icon" />
    <div class="badge">{{cartItems.length}}</div>
  </div>
  <div *ngIf="showCartDetails" class="cart-details">
    <div class="item">
      <p>Nazwa</p>
      <p>Ilość</p>
    </div>
    <ng-container *ngFor="let cartItem of cartItems">
      <div class="item">
        <p>{{cartItem.name}}</p>
        <p>{{cartItem.quantity}}</p>
      </div>
    </ng-container>
    <div class="item line" [ngStyle]="{'color': totalQuantity < 10 ? 'red' : 'green'}">
      <p>Łączna ilość</p>
      <p>{{totalQuantity}}</p>
    </div>
    <div class="item">
      <p>Całkowita cena</p>
      <p>{{totalPrice | transformMoney: moneyType}}</p>
    </div>
    <button routerLink="/cart-details" (click)="onClick()">Go to cart details</button>
  </div>
</div>
