<form [formGroup]="form" class="filters">
  <ng-multiselect-dropdown formControlName="country" [placeholder]="'Lokalizacja wycieczki'" [settings]="settings"
    [data]="dropdownData">
  </ng-multiselect-dropdown>
  <label for="minPrice">
    <span>Cena minimalna: </span>
    <input formControlName="minPrice" class="price-filter" type="number" id="minPrice" step="1000" [min]="minPrice"
      [max]="maxPrice">
  </label>
  <label for="maxPrice">
    <span>Cena maksymalna: </span>
    <input formControlName="maxPrice" class="price-filter" type="number" id="maxPrice" step="1000" [min]="minPrice"
      [max]="maxPrice">
  </label>
  <label for="startDate">
    <span>Początek wycieczki: </span>
    <input formControlName="startDate" type="date" id="startDate">
  </label>
  <label for="endDate">
    <span>Koniec wycieczki: </span>
    <input formControlName="endDate" type="date" id="endDate">
  </label>
  <label for="rating">
    <span>Ocena: </span>
    <select formControlName="rating" id="rating">
      <option value="">None</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </label>
</form>
