.photo {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
}

.photo-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}